body{
    box-sizing: border-box;
    background-color: #8eca34;
    margin-bottom: 0%;
    margin-top: 0%;
    
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.heading{
   padding: 30px;
   width: 100%;
    text-align: center;
  
    margin: 0%;
    color: #ffffff;
}
button{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5px;
}
th,td{
    border: 2px solid rgb(0, 0, 0);
    
}
table{
    text-align: center;
    padding-left: 20px;
    width: 80vw;
    border: 2px solid var(--mustard-color);
    padding: 0.2rem;
    
    color: #ffffff;
   
}

.footer{
    background-color:rgba(8, 176, 8, 0.71);
    padding: 2rem 1rem;
    border-top-left-radius: 0.5rem;
    text-align: center;
    color: #ffffff;
    width: 100%;
}
.footer .link{
    color: white;
}
.inline-list{
    display: inline;
 
}
.git{
    width: 40px;
    border-radius: 31px;
    padding: 10px;
}